.navbar-box {
  font-family: "Albert Sans";
  font-size: medium;
  font-weight: bold;
  margin: 20px;
}

.navbar-links {
  margin: 20px;
  text-decoration: none;
  color: #000;
  padding-bottom: 8px;
}
.navbar-main {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.active {
  text-decoration: underline;
  text-decoration-color: #000;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.footer {
  color: #000;
  text-align: center;
  padding: 1rem;
}

.tp {
  color: #0284c7;
}

.form-box {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin-top: 20px;
  padding: 30px;
  border-radius: 12px;
  width: 380px;
}

.inputs {
  margin: 10px 0px;
  height: 38px;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  background-color: #e1e1e1;
}
.inputs::placeholder {
  color: #333333;
}
.submit-form-btn{
  font-family: 'Albert Sans';
  color: #fff;
  padding: 6px;
  background-color: #09344a;
  border-radius: 6px;
  margin: 8px 0px;
  text-align: center;
}
.submit-form-btn:hover{
  background-color: #0a4563;
  
}
.inputs:focus {
  outline: none;
}
